<div class="register-box">
  <div class="register-logo">
    <b>Online</b>FoodOrdering
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="input-group mb-3">
          <%= f.text_field :name, autofocus: true, autocomplete: "name",:class => "form-control", :placeholder => "Full name" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => "form-control", :placeholder =>"Email" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.text_field :mobile_number, autofocus: true, autocomplete: "mob_no" ,:class => "form-control", :placeholder =>"Mobile No"%>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-phone"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "new-password",:class => "form-control", :placeholder => "Password" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",:class => "form-control", :placeholder => "Retype password" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <%= f.submit "Sign up", :class => "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="/users/auth/facebook" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="/users/auth/google_oauth2" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
        <a href="/users/auth/twitter" class="btn btn-block btn-info">
          <i class="fab fa-twitter mr-2"></i> Sign in using Twitter
        </a>
        <a href="/users/auth/linkedin" class="btn btn-block" style = "background: #2867B2">
          <i class="fab fa-linkedin mr-2"></i> Sign in using LinkedIn
        </a>
      </div>
      <a href="/users/confirmation/new">Didn&#39;t receive confirmation instructions?</a><br />
      <a href="/users/sign_in" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>

<!-- /.register-box -->