<%= render partial: "layouts/header"%>
<section class="saction5">
  <div class="container" id="resturant">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <div class="special">
          <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Top Restaurants</h2>
          <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s"> <a href="/restaurant/3"><img src="/assets/pizzhut.png" alt=""/> </a> </figure>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.2s"> <a href="/restaurant/5"> <img src="/assets/SUB.png" alt="" /></a></figure>
        </div>
         <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" >
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.4s"> <a href="#"> <img src="/assets/KFC.png" alt=""/></a> </figure>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.6s"> <a href="#"><img src="/assets/papjohns.png" alt="" /></a> </figure>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s"> <a href="#"><img src="/assets/dominos.png" alt="" /></a> </figure>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <figure class="rest os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s"> <a href="#"><img src="/assets/barista.png" alt="" /></a> </figure>
        </div>
      </div>
    <!---col-->
    
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <div class="special">
          <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Top Cuisines</h2>
          <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3s"> <img src="/assets/pizz.png" alt=""/>
          <div class="order"> <a href="#">Pizzas</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.2s"> <img src="/assets/burgar.png" alt="" />
          <div class="order"> <a href="#">Burgers</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.4s"> <img src="/assets/donelt.png" alt="" />
          <div class="order"> <a href="#">Cakes</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.6s"> <img src="/assets/sup.png" alt="" />
          <div class="order"> <a href="#">Mughlai</a> </div>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3s"> <img src="/assets/checken.png" alt=""/>
          <div class="order"> <a href="#">Kebabs</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.2s"> <img src="/assets/passta.png" alt="" />
          <div class="order"> <a href="#">Healthy food</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.4s"> <img src="/assets/bhel.png" alt="" />
          <div class="order"> <a href="#">Biryani</a> </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="food os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="3.6s"> <img src="/assets/past.png" alt="" />
          <div class="order"> <a href="#">Pastas</a> </div>
        </figure>
      </div>
    </div>   
  </div>
</section>
<section class="saction4">
  <div class="container" id="offer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <div class="special">
          <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Special Offer</h2>
          <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.20s">
        <div class="img clearfix"> <img src="/assets/002.png" alt=""/> </div>
        <div class="title clearfix">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">GRAB IT &#10152;</a> </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="0.50s">
        <div class="img"> <img src="/assets/003.png" alt=""/> </div>
        <div class="title">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">GRAB IT &#10152;</a> </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="1s">
        <div class="img"> <img src="/assets/oo1.png" alt=""/> </div>
        <div class="title">
          <h3>Olister Combo<br/>
            pack lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <a href="#">GRAB IT &#10152;</a> </div>
      </div>
    </div>
    </div>
     <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <div class="special">
          <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Recommended</h2>
          <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
        </div>
      </div>
    </div>
    <div class = "row">
      <% @foods.each do |food|%>
        <div class="col-lg-4 col-md-4 col-sm-4">
     
         <div class="slider clearfix os-animation" data-os-animation="fadeInDown
" data-os-animation-delay="1s">
        <div class="img"> <img src="/assets/oo1.png" alt=""/> </div>
        <div class="title">
          <h3><%= food.name %><br/>
            <%= food.food_catlog%></h3>
          <p><%= food.description%></p>
          <a href="#">GRAB IT &#10152;</a> </div>
        </div>
        </div>
      <% end %>
    </div>
    </div>
</section>

<section class="saction6">
  <div class="container">
    <div class="row bg os-animation" data-os-animation="flash" data-os-animation-delay="1s">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="images">
          <h3 class="os-animation">Enjoy Exclusive Food <br />
            Order any of these</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="point">
          <p><span>&#10152;</span><a href="#"> Party Order</a></p>
          <p><span>&#10152;</span><a href="#">Home Made Food</a></p>
          <p><span>&#10152;</span><a href="#">Diet Food</a></p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <figure class="imgs"> <img src="/assets/abc.png" alt="" /> </figure>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="button"> <a href="#">Order Now</a> </div>
      </div>
    </div>
  </div>
</section>
<section class="saction7">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s"> <img src="/assets/plan.png" alt=""/> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.3s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s"> <img src="/assets/mak.png" alt="" /> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s"> <img src="/assets/kljj.png" alt=""/> </figure>
        <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.3s">
          <h3>100% Service Guarantee </h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="saction8">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="site">
          <h3>Site Link</h3>
        </div>
        <div class="sitelink">
          <ul>
            <li> <span>&#10152;</span><a href="#">About Us</a></li>
            <li><span>&#10152;</span><a href="#">Contact Us</a></li>
            <li><span>&#10152;</span><a href="#">Privacy Policy</a></li>
            <li><span>&#10152;</span><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="site">
          <h3>Site Link</h3>
        </div>
        <div class="sitelink">
          <ul>
            <li> <span>&#10152;</span><a href="#">About Us</a></li>
            <li><span>&#10152;</span><a href="#">Contact Us</a></li>
            <li><span>&#10152;</span><a href="#">Privacy Policy</a></li>
            <li><span>&#10152;</span><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="follow">
          <h3>Follow Us On...</h3>
        </div>
        <div class="social">
          <ul>
            <li> <i class="fa fa-facebook-square"></i><a href="#">Facebook</a></li>
            <li><i class="fa fa-twitter-square"></i><a href="#">Twitter</a></li>
            <li><i class="fa fa-linkedin-square"></i><a href="#">Linkedin</a></li>
            <li><i class="fa fa-google-plus-square"></i><a href="#">Google Plus</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="submit">
          <h3>Subscribe Newsletter</h3>
          <p>To get latest updates and food deals
            every week</p>
        </div>
        <div class="submitbox">
          <input type="text" />
          <div class="sub"> <a href="#">Submit</a> </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="saction9">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="email">&copy; All right reserved 2014  /  FoodFinder </div>
        <p class="freetemplates">Free Template by <a href="http://freetemplates.pro/">FreeTemplates.pro</a></p>
      </div>
    </div>
  </div>
</footer>

