<div class="container w-25">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h3"><b>Online</b>FoodO<b>rder</b></a>
    </div>
    <%= form_for @connect_request do |f| %>
    <div class = "card-body">
      <div class = "form-group mb-3">
        <label for="r-name">Restaurant Name</label>
        <%= f.text_field :restaurant_name, :class => "form-control", :id => "r-name"%>
      </div>
      <div class = "form-group mb-3">
        <label for="name">Name</label>
        <%= f.text_field :owner_name, :class => "form-control", :id => "name"%>
      </div>
      <div class = "form-group mb-3">
        <label for="email">Email</label>
        <%= f.email_field :email, :class => "form-control", :id => "email"%>
      </div>
      <div class = "form-group mb-3">
        <label for="mobile_no">Mobile Number</label>
        <%= f.text_field :mobile_number, :class => "form-control", :id => "mobile_no"%>
      </div>
      <div class = "form-group mb-3">
        <label for="city">Current City</label>
        <%= f.text_field :current_city, :class => "form-control", :id => "city"%>
      </div>
      <div class = "form-group mb-3">
        <label for="rating">Rating</label>
        <%= f.text_field :rating, :class => "form-control", :id => "rating"%>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
    <% end %>
  </div>
</div>