<div class="card card-primary card-outline">
              <div class="card-header">
                <b>OnlineFood</b>Order Business
              </div>
              <div class="card-body">
                <h6 class="card-title">Welcome to OnlineFooOrder Business</h6>

                <p class="card-text">For Using The OnlineFooOrder Business  Apllication you have to Register yourself on the application if you have already registered Simply click on <b>loging</b> button othrwise Register yourself using <b>signup</b> button</p>
                <%= link_to('SignUp', new_connect_request_path,:class => "btn btn-success") %>
                <%= link_to('Login', new_user_session_path,:class => "button btn btn-primary") %>
              </div>
            </div> 