<div class="container clearfix">
    <div class="chat">   
      <div class="chat-history">
        <ul class="chat-ul">
          
          <li class="clearfix">
            <div class="message me-message float-right"> We should take a </div>
          </li>
          </ul>
        
      </div> <!-- end chat-history -->
      
    </div> <!-- end chat -->
    </div>