<p>Welcome to OnlineFoodOrder  Your restaurant <%= @restaurant.name %> is created</p>
    <p>
    Login details<br>
    --------------------------
    </p>
    <p>User_name: <%= @restaurant.email %></p>
    <p>Password: <%= @restaurant.password %></p>